.accordion
{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* padding: 10px 40px 10px 25px; */
    border: solid rgb(223, 223, 223) 2.5px;
    color: black;
    font-size: 20px;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 7px;
}

.title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px 20px 40px;
    width: 100%;
    cursor: pointer;
    /* background-color: blueviolet; */
}

.titlecon
{
    display: flex;
    justify-content: flex-start;
    /* background-color: yellow; */
    width: 100%;
    font-size: 22px;
}

.arrowhead
{
    display: flex;
    /* background-color: red; */
    padding-bottom: 10px;
    padding-right: 9%;
    width: 100%;
    justify-content: flex-end;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: green; */
    font-size: 17px;
    color: black;
    padding: 5% 5% 6% 8%;
    width: 100%;
    border-top: solid rgb(229, 229, 229) 2.5px;
    z-index: 9;
}